<!doctype html>
<html lang="en" ng-app="DangrApp">
<head>
	<meta charset="utf-8">
	<title>Dangr</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
	<link rel="stylesheet" href="/css/buttons.min.css">
	<link rel="stylesheet" href="/css/forms.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body ng-controller="AppCtrl">

	<div class="container">

		<h1>Dangr</h1>
		
		<section>
			<p>
				Test the classification of a text string below:
			</p>


			<form class="pure-form pure-form-aligned" ng-submit="classify(text)">
				<fieldset>
					<div class="pure-control-group">
						<input type="text" ng-model="text">
					</div>

					<a class="pure-button button-large">
						<i class="fa fa-bug"></i> Test
					</a>

				</fieldset>
			</form>

			<ul>
				<li ng-repeat="classification in classifications">
					{{classification.kind}}: {{classification.text}}
				</li>
			</ul>
		</section>
	</div>
	
	<script src="/js/angular.min.js"></script>
	<script src="/js/angularjs-geolocation.min.js"></script>
	<script>
		angular.module("DangrApp", ['geolocation'])
		.controller("AppCtrl", function ($scope, $http, geolocation) {

			$scope.classifications = [];

			$scope.classify = function(text) {
				$scope.text = '';
				$http({
					url: '/classify',
					method: 'POST',
					data: {text: text}
				}).success(function(res) {
					$scope.classifications.push({
						text: text,
						kind: res.category === "danger" ? "Danger" : "Not Danger"
					});
				});
			}

		});
	</script>
</body>
</html>

